.login-container {
    background-color: rgba(0, 0, 0, 0.85);
    width: 300px;
    display: flex;
    justify-content: left;
    position: fixed;
    top: 80px;
    left: -100%;
    transition: 1000ms;
    padding: 50px 100px 50px 25px;
    box-shadow: 10px 45px 50px rgba(0, 0, 0, 0.7);
    border-radius: 0px 100px 100px 0px;
}

.login-container.active {
    left: 0;
    transition: 1000ms;
}

.login-form-container {
    margin: 30px;
}
