@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lexend&family=New+Tegomin&family=Roboto+Condensed:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-style: cursive;
}

html {
    box-sizing: border-box;
    background: url('../src/images/birds-eye.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
