.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    cursor: pointer;
    color: black;
}

.nav-menu.login {
    height: 200px;
}

.nav-menu.active.login {
    height: 250px;
}

.nav-menu {
    position: absolute;
    background-color: rgba(82, 82, 82, 0.85);
    width: 220px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 80px;
    left: -100%;
    transition: 1000ms;
    border-radius: 0px 100px 100px 0px;
    border-top: 3px solid rgba(255, 255, 255, 0.2);

    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
    box-shadow: 50px 50px 50px rgba(0, 0, 0, 1),
        -50px 50px 50px rgba(0, 0, 0, 1);
}

.nav-menu.active {
    left: 0;
    transition: 1000ms;
}

.nav-text {
    list-style: none;
    height: 60px;
}

.nav-text a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 28px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
}

.fa-bars {
    color: white;
}

.fa-bars:hover {
    color: rgb(196, 189, 95);
}

.nav-text a:hover {
    font-size: 24px;
    color: rgb(254, 254, 217);
}

.nav-menu-items {
    width: 100%;
    margin: 10px;
}

.navbar-toggle {
    background-color: rgba(98, 149, 156, 0.7);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logout-b {
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 1em;
    padding: 10px;
    background-color: rgba(212, 134, 142, 0.7);
    color: white;
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
    margin: 5px 25px 0px 0px;
}

.logout-b:hover {
    backface-visibility: hidden;
    color: rgb(254, 254, 217);
    border: 2px solid rgb(254, 254, 217);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}

.settings-modal {
    display: flex;
    justify-content: center;
}

.settings-input {
    box-shadow: 4px 4px 4px black;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

.settings-input:focus {
    background-color: rgb(254, 254, 217);
}

.update-modal {
    text-align: right;
}

.name-button {
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 14pt;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(179, 230, 164, 0.7);
}

.name-button:hover {
    cursor: pointer;
    color: rgb(254, 254, 217);
    border: 1px solid rgb(254, 254, 217);
    box-shadow: 5px 5px 5px rgb(255, 255, 255, 0.5);
}

.settings-button:hover {
    cursor: pointer;
    color: rgb(254, 254, 217);
    border: 1px solid rgb(254, 254, 217);
    box-shadow: 5px 5px 5px rgb(255, 255, 255, 0.5);
}

.settings-button {
    color: white;
    margin: 10px;
    height: 100px;
    width: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(212, 134, 142, 0.7);
    box-shadow: 10px 10px 10px black;
}

.settings-container {
    margin-top: 200px;
    border-radius: 25px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.n-modal,
.u-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.name-modal,
.username-modal {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    padding: 50px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(254, 254, 254, 0.7);
    text-align: center;
}

.todo-b {
    padding: 20px 10px 20px 30px;
    width: 120px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.7),
        10px 10px 10px rgba(0, 0, 0, 1);
    background-color: rgba(82, 82, 82, 0.85);
    font-size: 14pt;
    color: white;
}

.back {
    background-color: rgba(212, 134, 142, 0.7);
    border: 1px solid white;
    padding: 7px 12px 7px 12px;
    border-radius: 15px;
    color: white;
    margin: 20px 0px 10px 20px;
    font-size: 14pt;
    box-shadow: 5px 5px 5px black;
}

.back:hover {
    color: rgb(255, 255, 200);
    border: 1px solid rgb(255, 255, 200);
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
}

.todo-b:hover {
    cursor: pointer;
    color: rgb(255, 255, 200);
}

.name-ok-button {
    margin: 20px 10px 0px 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 5px black;
    background-color: rgba(179, 230, 164, 0.7);
    color: white;
}

.name-ok-button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
    padding: 10px 9px 10px 9px;
    color: rgb(237, 233, 172);
    border: 1px solid rgb(237, 233, 172);
}

.todo-list {
    transition: 200ms;
    margin-top: 320px;
    background-color: rgba(82, 82, 82, 0.85);
    padding: 40px 20px 40px 60px;
    border-radius: 100px 0px 0px 100px;
    font-size: 18pt;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.6),
        -25px 25px 25px rgba(0, 0, 0, 0.6);
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

.todo-list.inactive {
    transition: 500ms;
    margin-right: -100%;
}

.td-list {
    list-style-type: none;
    text-decoration: none;
}

.listitem {
    margin: 10px;
}
