.page-container {
    padding: 30px;
    margin: -40px 20px 20px 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container.inactive {
    border: none;
    border-radius: 50px;
    transition: 1000ms;
    margin-right: -200%;
    background-color: rgba(255, 255, 255, 0);
}

.container {
    padding: 20px;
    border: 1px solid rgba(194, 194, 194, 0.7);
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.6);
}

.chart-container {
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    width: 60%;
    margin: 10px;
    font-size: 20pt;
    padding: 25px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    background-color: rgba(255, 252, 238, 0.4);
}

.date-title {
    margin: 30px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 24pt;
    border-radius: 1em;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    color: rgba(60, 60, 60, 0.9);
    background-color: rgba(254, 255, 238, 0.5);
    transition: 500ms;
}

.date-title.inactive,
.date-entry-container.inactive,
.date-b.inactive {
    transition: 500ms;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.date-entry-container {
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    padding: 30px 40px 20px 40px;

    border-radius: 25px;
    background-color: rgba(254, 255, 238, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.date-entry-container.inactive {
    margin-left: -200%;
    transition: 2000ms;
}

.number-slash {
    margin: 10px;
    color: rgba(60, 60, 60, 0.9);
    transition: 3000ms;
    font-size: 24pt;
}

.number-slash.inactive {
    transition: 500ms;
    color: rgba(0, 0, 0, 0);
    font-size: 0pt;
}

.number.one {
    background-color: rgba(209, 249, 216, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 3000ms;
}

.number.one.inactive {
    transition: 550ms;
    margin-left: -3000%;
}

.number.two {
    background-color: rgba(186, 234, 237, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 2600ms;
}

.number.two.inactive {
    transition: 900ms;
    margin-left: -3000%;
}

.number.three {
    background-color: rgba(224, 235, 198, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 2300ms;
}

.number.three.inactive {
    transition: 1250ms;
    margin-left: -3000%;
}

.number.four {
    background-color: rgba(247, 223, 220, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 1950ms;
}

.number.four.inactive {
    transition: 1600ms;
    margin-left: -3000%;
}

.number.five {
    background-color: rgba(246, 214, 247, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 1600ms;
}

.number.five.inactive {
    transition: 1950ms;
    margin-left: -3000%;
}

.number.six {
    background-color: rgba(205, 196, 228, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 1250ms;
}

.number.six.inactive {
    transition: 2300ms;
    margin-left: -3000%;
}

.number.seven {
    background-color: rgba(209, 215, 249, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;

    transition: 900ms;
}

.number.seven.inactive {
    transition: 2650ms;
    margin-left: -3000%;
}

.number.eight {
    background-color: rgba(209, 248, 249, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;

    transition: 550ms;
}

.number.eight.inactive {
    transition: 3000ms;
    margin-left: -3000%;
}

.number::placeholder {
    color: rgba(104, 104, 104, 0.625);
    font-size: 24pt;
    font-style: italic;
}

.number {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.landing-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title {
    font-family: 'Cedarville Cursive', cursive;
    color: rgba(255, 255, 255, 0.9);
    font-size: 50pt;
    margin: 5px;
    font-weight: bold;
}

.title.j {
    text-shadow: 5px 5px 5px rgba(209, 249, 216, 0.8);
}

.title.o {
    text-shadow: 5px 5px 5px rgba(186, 234, 237, 0.8);
}

.title.u {
    text-shadow: 5px 5px 5px rgba(224, 235, 198, 0.8);
}

.title.r {
    text-shadow: 5px 5px 5px rgba(247, 223, 220, 0.8);
}

.title.n {
    text-shadow: 5px 5px 5px rgba(246, 214, 247, 0.8);
}

.title.a {
    text-shadow: 5px 5px 5px rgba(205, 196, 228, 0.8);
}

.title.l {
    text-shadow: 5px 5px 5px rgba(209, 215, 249, 0.8);
}

.title.e {
    text-shadow: 5px 5px 5px rgba(209, 248, 249, 0.8);
}

.title.s {
    text-shadow: 5px 5px 5px rgba(209, 249, 216, 0.8);
}

.title.y {
    text-shadow: 5px 5px 5px rgba(186, 234, 237, 0.8);
}

.title-image {
    margin-top: -200px;
    margin-bottom: -25px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 220pt;
    padding: 10px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(186, 234, 237, 0.4),
        4px 4px 4px rgba(209, 249, 216, 0.4),
        6px 6px 6px rgba(209, 248, 249, 0.4),
        8px 8px 8px rgba(209, 215, 249, 0.4),
        10px 10px 10px rgba(205, 196, 228, 0.4),
        12px 12px 12px rgba(246, 214, 247, 0.4),
        14px 14px 14px rgba(247, 223, 220, 0.4),
        18px 18px 18px rgba(224, 235, 198, 0.4);
}

.date-b {
    cursor: pointer;
    border-radius: 2em;
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: white;
    background-color: rgba(82, 82, 82, 0.85);
    font-size: 14pt;

    margin: 20px;
    width: 200px;
    height: 40px;
}

.date-b:hover {
    margin-top: 22px;
    margin-left: 22px;
    color: rgb(254, 254, 217);
    border: 2px solid rgb(254, 254, 217);
}

.bottom-landing {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 40px 20px 20px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: black;
}

.bottom-top,
.bottom-mid,
.bottom-low {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.land {
    height: 200px;
    text-align: center;
    width: 50%;
    border-bottom: 2px solid black;
}

.land-right {
    height: 200px;
    text-align: center;
    width: 50%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
