.page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}

.line-chart.inactive {
    transition: 1000ms;
    margin-right: -200%;
    background-color: rgba(255, 255, 255, 0);
}

.line-chart {
    transition: 2000ms;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    width: 50%;
    border-radius: 50px;
    color: black;
    box-shadow: 15px 15px 15px rgba(252, 252, 193, 0.5);
}

.date-entry-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 500px;
}

.date-entry-container.inactive {
    margin-left: -200%;
    transition: 2000ms;
}

.number-slash {
    margin: 10px;
    color: white;
    transition: 3000ms;
    font-size: 24pt;
}

.number-slash.inactive {
    transition: 500ms;
    color: rgba(0, 0, 0, 0);
    font-size: 0pt;
}

.number.one {
    background-color: rgba(209, 249, 216, 0.8);
    border: none;
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 3000ms;
    box-shadow: 12px 12px 12px rgba(252, 252, 193, 0.6);
}

.number.one.inactive {
    transition: 550ms;
    margin-left: -3000%;
}

.number.two {
    background-color: rgba(186, 234, 237, 0.8);
    border: none;
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 2600ms;
    box-shadow: 12px 12px 12px rgba(252, 252, 193, 0.6);
}

.number.two.inactive {
    transition: 900ms;
    margin-left: -3000%;
}

.number.three {
    background-color: rgba(224, 235, 198, 0.8);
    border: none;
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 2300ms;
    box-shadow: 12px 12px 12px rgba(252, 252, 193, 0.6);
}

.number.three.inactive {
    transition: 1250ms;
    margin-left: -3000%;
}

.number.four {
    background-color: rgba(247, 223, 220, 0.8);
    border: none;
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 1950ms;
    box-shadow: 12px 12px 12px rgba(252, 252, 193, 0.6);
}

.number.four.inactive {
    transition: 1600ms;
    margin-left: -3000%;
}

.number.five {
    background-color: rgba(246, 214, 247, 0.8);
    border: none;
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 1600ms;
    box-shadow: 12px 12px 12px rgba(252, 252, 193, 0.6);
}

.number.five.inactive {
    transition: 1950ms;
    margin-left: -3000%;
}

.number.six {
    background-color: rgba(205, 196, 228, 0.8);
    border: none;
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 1250ms;
    box-shadow: 12px 12px 12px rgba(252, 252, 193, 0.6);
}

.number.six.inactive {
    transition: 2300ms;
    margin-left: -3000%;
}

.number.seven {
    background-color: rgba(209, 215, 249, 0.8);
    border: none;
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    box-shadow: 12px 12px 12px rgba(252, 252, 193, 0.6);
    transition: 900ms;
}

.number.seven.inactive {
    transition: 2650ms;
    margin-left: -3000%;
}

.number.eight {
    background-color: rgba(209, 248, 249, 0.8);
    border: none;
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    box-shadow: 12px 12px 12px rgba(252, 252, 193, 0.6);
    transition: 550ms;
}

.number.eight.inactive {
    transition: 3000ms;
    margin-left: -3000%;
}

.number::placeholder {
    color: rgba(104, 104, 104, 0.625);
    font-size: 24pt;
    font-style: italic;
}
