.page-container {
    padding: 30px;
    margin: -40px 20px 20px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container.inactive {
    border: none;
    border-radius: 50px;
    transition: 200ms;
    margin-right: -200%;
    background-color: rgba(255, 255, 255, 0);
}

.container {
    transition: 200ms;
    box-shadow: 10px 10px 10px black;
    height: 320px;
    padding: 10px;
    border: 1px solid rgba(194, 194, 194, 0.7);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

.chart-container {
    transition: 200ms;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 18pt;
    padding: 20px 50px 20px 50px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    width: 550px;
    height: 450px;
    margin: 10px;
    text-align: center;

    color: rgb(0, 0, 0);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
    border-radius: 100px 100px 0px 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

.date-title {
    width: 800px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 24pt;
    font-weight: bolder;
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    transition: 500ms;
}

.b-container {
    padding: 20px;
    text-align: center;
    width: 800px;
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 300px 300px;
}

.date-title.inactive,
.date-entry-container.inactive,
.date-b.inactive {
    transition: 200ms;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.date-entry-container {
    width: 800px;
    margin-top: 30px;
    border-top: 2px solid rgba(255, 255, 255, 0.6);
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    padding: 50px 40px 35px 40px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}

.date-entry-container.inactive {
    margin-left: -200%;
    transition: 200ms;
}

.number-slash {
    margin: 10px;
    color: rgba(60, 60, 60, 0.9);
    transition: 3000ms;
    font-size: 24pt;
}

.number-slash.inactive {
    transition: 500ms;
    color: rgba(0, 0, 0, 0);
    font-size: 0pt;
}

.number.one {
    background-color: rgba(186, 234, 237, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 3000ms;
}

.number.one.inactive {
    transition: 550ms;
    margin-left: -3000%;
}

.number.two {
    background-color: rgba(186, 234, 237, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 2600ms;
}

.number.two.inactive {
    transition: 900ms;
    margin-left: -3000%;
}

.number.three {
    background-color: rgba(186, 234, 237, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 2300ms;
}

.number.three.inactive {
    transition: 1250ms;
    margin-left: -3000%;
}

.number.four {
    background-color: rgba(186, 234, 237, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 1950ms;
}

.number.four.inactive {
    transition: 1600ms;
    margin-left: -3000%;
}

.number.five {
    background-color: rgba(186, 234, 237, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 1600ms;
}

.number.five.inactive {
    transition: 1950ms;
    margin-left: -3000%;
}

.number.six {
    background-color: rgba(186, 234, 237, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;
    transition: 1250ms;
}

.number.six.inactive {
    transition: 2300ms;
    margin-left: -3000%;
}

.number.seven {
    background-color: rgba(186, 234, 237, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;

    transition: 900ms;
}

.number.seven.inactive {
    transition: 2650ms;
    margin-left: -3000%;
}

.number.eight {
    background-color: rgba(186, 234, 237, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    width: 75px;
    margin: 5px;
    padding: 10px;
    font-size: 40pt;
    text-align: center;
    border-radius: 10px;

    transition: 550ms;
}

.number.eight.inactive {
    transition: 3000ms;
    margin-left: -3000%;
}

.number::placeholder {
    color: rgba(104, 104, 104, 0.625);
    font-size: 24pt;
    font-style: italic;
}

.number {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8);
}

.landing-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title {
    font-family: 'Cedarville Cursive', cursive;
    color: rgba(255, 255, 255, 0.9);
    font-size: 50pt;
    margin: 5px;
    font-weight: bold;
}

.title.j {
    text-shadow: 5px 5px 5px rgba(209, 249, 216, 0.8);
}

.title.o {
    text-shadow: 5px 5px 5px rgba(186, 234, 237, 0.8);
}

.title.u {
    text-shadow: 5px 5px 5px rgba(224, 235, 198, 0.8);
}

.title.r {
    text-shadow: 5px 5px 5px rgba(247, 223, 220, 0.8);
}

.title.n {
    text-shadow: 5px 5px 5px rgba(246, 214, 247, 0.8);
}

.title.a {
    text-shadow: 5px 5px 5px rgba(205, 196, 228, 0.8);
}

.title.l {
    text-shadow: 5px 5px 5px rgba(209, 215, 249, 0.8);
}

.title.e {
    text-shadow: 5px 5px 5px rgba(209, 248, 249, 0.8);
}

.title.s {
    text-shadow: 5px 5px 5px rgba(209, 249, 216, 0.8);
}

.title.y {
    text-shadow: 5px 5px 5px rgba(186, 234, 237, 0.8);
}

.title-image {
    margin-top: -100px;
    margin-bottom: -25px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 220pt;
    padding: 10px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(186, 234, 237, 0.4),
        4px 4px 4px rgba(209, 249, 216, 0.4),
        6px 6px 6px rgba(209, 248, 249, 0.4),
        8px 8px 8px rgba(209, 215, 249, 0.4),
        10px 10px 10px rgba(205, 196, 228, 0.4),
        12px 12px 12px rgba(246, 214, 247, 0.4),
        14px 14px 14px rgba(247, 223, 220, 0.4),
        18px 18px 18px rgba(224, 235, 198, 0.4);
}

.date-b {
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: rgb(108, 108, 108);
    background-color: rgb(177, 210, 177);
    font-size: 14pt;
    font-family: 'Lexend', sans-serif;
    margin: 0px 10px 20px 10px;
    width: 200px;
    height: 40px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.9);
}

.date-b:hover {
    width: 195px;
    box-shadow: 12px 12px 12px black;
    color: rgb(254, 254, 217);
    border: 2px solid rgb(254, 254, 217);
}

.bottom-landing {
    text-align: center;
    font-size: 22pt;
    width: 800px;
    padding: 60px 40px 90px 40px;
    display: flex;
    flex-direction: column;
    color: black;
}

.land.rat {
    border-radius: 5px 5px 5px 150px;
}

.land-right.brain {
    border-radius: 5px 5px 150px 5px;
}

.explination.left.rat {
    border-radius: 5px 5px 5px 80px;
}

.explination.brain {
    border-radius: 5px 5px 80px 5px;
}

.bottom-top,
.bottom-mid,
.bottom-low {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.land {
    color: rgb(97, 97, 97);
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 40px 30px 60px 30px;
    text-align: center;
    width: 50%;
    border-radius: 5px;
    background-color: rgba(186, 234, 237, 0.8);
    margin: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.land-right {
    color: rgb(97, 97, 97);
    padding: 40px 30px 60px 30px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(186, 234, 237, 0.8);
    margin: 20px;

    text-align: center;
    width: 50%;
    border-radius: 5px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.7);
}

.land-title {
    font-size: 22pt;
    color: rgb(102, 102, 116);
}

.explination.left {
    box-shadow: 10px 10px 10px rgba(55, 55, 55, 0.8);
}

.explination {
    box-shadow: -10px 10px 10px rgba(55, 55, 55, 0.8);
    background-color: rgba(48, 48, 48, 0.605);
    padding: 25px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.explination > p {
    font-size: 10pt;
    margin: 5px;
}

.affirmations-container {
    width: 100%;
    transition: 0ms;
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 28pt;
    margin: -50px 20px 20px 0px;
    text-shadow: 5px 5px 5px black;
}
.affirmations-container.inactive {
    text-shadow: 5px 5px 5px black;
    transition: 0ms;
    margin-top: -500%;
    background-color: black;
    color: rgb(255, 0, 0);
}
