.stat-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(216, 161, 209, 0);
    align-items: center;
    transition: 1000ms;
    margin: 50px;

    padding: 50px;
    color: black;
    overflow: scroll;
}

.stat-list-item {
    list-style-type: none;
    margin: 10px;
}

.stat-list {
    border-bottom: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.stat-list-item.entry {
    color: red;
}
