.stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(216, 161, 209, 0.4);
    align-items: center;
    transition: 1000ms;
    margin: 50px;
    margin-top: 10%;
    padding: 50px;
    color: black;
    border-radius: 10em;

    overflow: scroll;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
}
