.signup-container {
    background-color: rgba(82, 82, 82, 0.85);
    width: 300px;
    display: flex;
    position: fixed;
    top: 80px;
    left: -100%;
    transition: 1000ms;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0px 0px 10px;
    border-radius: 0px 100px 100px 0px;
    box-shadow: 50px 50px 50px rgba(0, 0, 0, 1),
        -50px 50px 50px rgba(0, 0, 0, 1);
}

.signup-container.active {
    left: 0;
    transition: 1000ms;
}

.signup-form-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.name,
.username,
.password {
    height: 35px;
    width: 200px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(245, 255, 255);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.name:focus,
.username:focus,
.password:focus {
    background-color: rgb(254, 254, 217);
}

.signup-b-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.signup-b {
    height: 50px;
    width: 100px;
    border: 2px solid rgba(255, 255, 255);
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(168, 198, 150, 0.7);
    color: white;
    cursor: pointer;
    font-size: 16pt;
    box-shadow: 10px 10px 10px black;
    margin: 5px;
}

.cancel-button-container {
    padding: 10px;
}

.cancel-button {
    height: 50px;
    width: 60px;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255);
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(212, 134, 142, 0.7);
    color: white;
    cursor: pointer;

    box-shadow: 10px 10px 10px black;
}

.signup-b:hover {
    color: rgb(254, 254, 217);
    border: 2px solid rgb(254, 254, 217);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}

.signup-b.demo {
    background-color: rgb(196, 195, 145);
    color: rgb(101, 101, 101);

    width: 175px;
    height: 40px;
    border-radius: 50px;
    font-size: 10pt;
}

.cancel-button:hover {
    color: rgb(254, 254, 217);
    border: 2px solid rgb(254, 254, 217);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}
