.signup-container {
    background-color: rgba(98, 149, 156, 0.8);
    width: 200px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 80px;
    left: -100%;
    transition: 1000ms;
    border-radius: 0px 100px 100px 0px;
}

.signup-container.active {
    left: 0;
    transition: 350ms;
}
