.affirmation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(221, 244, 216, 0.4);
    align-items: center;
    transition: 1000ms;
    margin-left: 30%;
    margin-top: 10%;
    padding: 30px 20px 0px 20px;
    color: black;
    border-radius: 8em;
    width: 500px;
    height: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
}

.aff {
    text-align: right;
}

.aff-list-item {
    text-align: right;
    margin: 20px 10px 10px 10px;
}

.aff-input {
    height: 25px;
    border-radius: 2em;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 220px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.aff-list {
    height: 100px;
    overflow: scroll;
}

.aff-form-submit {
    margin: 0px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(126, 125, 125, 0.4);
}

.dream-button.aff {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 12px;
}

.fa-check-circle.aff {
    font-size: 20px;
}

.fa-times-circle.aff {
    font-size: 20px;
    color: rgb(191, 191, 191);
    margin-top: -20px;
}

.aff-header {
    color: rgb(135, 135, 135);
    font-size: 24pt;

    padding: 15px;
    border-bottom: 1px solid rgba(126, 125, 125, 0.2);
}

.fa-minus-circle {
    background-color: white;
    cursor: pointer;
    color: rgba(193, 78, 78, 0.8);
    font-size: 20px;
    border-radius: 5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.cancel-button.aff {
    margin: 15px;
}
