.affirmation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    transition: 1000ms;

    margin-top: 10%;
    padding: 30px 20px 0px 20px;
    color: black;
}

.aff {
    text-align: right;
}

.aff-list-item {
    font-size: 20pt;
    text-align: right;
    margin: 20px 10px 10px 10px;
}

.aff-input {
    text-align: right;

    font-size: 16pt;
    border-radius: 10px;
    width: 457px;
    overflow: scroll;
    height: 25px;
    border: none;
    background-color: rgba(255, 246, 233, 0);
    padding: 5px;
}

.aff-cont {
    margin: 10px 0px 0px 55px;
    padding: 10px;
}

.aff-list {
    height: 160px;
    overflow: scroll;
}

.aff-form-submit {
    margin: 0px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dream-button.aff {
    margin-left: 10px;
    border: none;
}

.fa-check-circle.aff {
    font-size: 20px;
    color: rgb(80, 171, 80);
    background-color: white;
    border-radius: 5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.fa-times-circle.aff {
    font-size: 20px;
    color: rgb(191, 191, 191);
    margin-top: -20px;
}

.aff-header {
    color: rgb(135, 135, 135);
    font-size: 24pt;

    padding: 15px;
    border-bottom: 1px solid rgba(126, 125, 125, 0.2);
}

.fa-minus-circle {
    background-color: white;
    cursor: pointer;
    color: rgba(193, 78, 78, 0.8);
    font-size: 20px;
    border-radius: 5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.cancel-button.aff {
    margin: 15px;
    width: 30px;
    padding: 10px 22px 10px 10px;
}

.cancel-button.aff:hover {
    box-shadow: 8px 8px 8px black;
    margin-top: 17px;
    color: rgb(242, 242, 107);
}
