.morning-container {
    background-color: rgba(82, 82, 82, 0.85);
    width: 220px;
    display: flex;
    align-items: left;
    position: fixed;
    top: 80px;
    left: -100%;
    transition: 1000ms;
    border-radius: 0px 100px 100px 0px;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
    box-shadow: 50px 50px 50px rgba(0, 0, 0, 1),
        -50px 50px 50px rgba(0, 0, 0, 1);
}

.morning-container.active {
    left: 0;
    transition: 1000ms;
}

.morning-text {
    width: 200px;
    list-style: none;
    height: 60px;
}
.morning-text a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 22px;
}

.morning-text a:hover {
    font-size: 24px;
    margin-left: 2px;
    margin-top: 2px;
    color: rgb(254, 254, 217);
}

.health-modal {
    margin: 10%;
    font-size: 40pt;
}

.health-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.health-cancel-b {
    margin: 10px;
    cursor: pointer;
    height: 100px;
    width: 50px;
    border-radius: 1em;
    color: white;
    box-shadow: 5px 5px 5px black;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(212, 134, 142, 0.7);
}

.answer.inactive {
    margin-top: -200%;
}

.booster-modal {
    margin: 10%;
    font-size: 25pt;
    padding: 20px;
}

.booster-cancel-b {
    margin: 10px;
    box-shadow: 5px 5px 5px black;
    color: white;
    border-radius: 1em;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(212, 134, 142, 0.7);
}

.booster-cancel-b:hover {
    color: rgb(247, 247, 172);
    border: 2px solid rgb(247, 247, 172);
}

.booster-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
