.dream-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(184, 232, 238, 0.4);
    align-items: center;
    transition: 1000ms;
    margin-left: 32%;
    margin-top: 10%;
    padding: 70px 100px 20px 100px;
    color: black;
    border-radius: 10em;
    width: 400px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
}

.dream-input::placeholder {
    color: rgb(189, 189, 189);
}

.dream-input-container {
    margin: 10px;
    height: 90%;
}

.dream-input {
    overflow: scroll;
    height: 150px;
    border-radius: 2em;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.6);
}

.dream-header-container {
    width: 100px;
}

.dream.header {
    font-size: 200%;
    padding: 10px;
    cursor: inherit;
}
.dream-button-container {
    margin: 10px;
}

.cancel-div {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    margin: 10px;
}

.fa-times-circle {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    color: #e2b888;
    font-size: 30px;
    border-radius: 5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.fa-check-circle {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    color: #e2b888;
    font-size: 30px;
    border-radius: 5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.dream-button {
    background-color: white;
    border: none;
    border-radius: 5em;
}
