.dream-container {
    display: flex;
    justify-content: center;
    margin: 100px;
    height: 70vh;
    border-radius: 50px;
}

.dream-form-container {
    background: url('../../images/lakeview.jpg') no-repeat center fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1000ms;
    color: white;
    padding: 250px 200px 200px 200px;
    border-radius: 50px;
    width: 100%;
}

.dream {
    margin: 10px;
}

.dream-input {
    padding: 10px;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(250, 235, 208);
}

.dream.header {
    font-size: 30px;
}
